<!-- Link to Footer CSS -->
<link rel="stylesheet" href="../css/footer.css">

<footer class="footer">
    <div class="container footer-grid">
        <!-- Contact Info -->
        <div class="footer-col">
            <h4 class="footer-title">যোগাযোগ</h4>
            <ul class="footer-list contact-list">
                <li><i class="fas fa-map-marker-alt"></i><span>University Laboratory School and College, IER, University of Dhaka</span></li>
                <li><i class="fas fa-phone-alt"></i><a href="tel:9661920">9661920-73/4660, 4661, 4662</a></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:ulabsc@gmail.com">ulabsc@gmail.com</a></li>
            </ul>
        </div>

        <!-- Useful Links -->
        <div class="footer-col">
            <h4 class="footer-title">প্রয়োজনীয় লিংক</h4>
            <ul class="footer-list">
                <li><a href="http://www.dhakaeducationboard.gov.bd/" target="_blank">Dhaka Education Board</a></li>
                <li><a href="http://www.moedu.gov.bd/" target="_blank">Ministry of Education</a></li>
                <li><a href="http://www.dshe.gov.bd/" target="_blank">Directorate of Secondary & Higher Education</a></li>
                <li><a href="http://www.nctb.gov.bd/" target="_blank">National Curriculum and Textbook Board (NCTB)</a></li>
                <li><a href="https://www.teachers.gov.bd/" target="_blank">Teacher Batayon</a></li>
            </ul>
        </div>

        <!-- Map -->
        <div class="footer-col">
            <h4 class="footer-title">মানচিত্র</h4>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.3947602315407!2d90.38796941530936!3d23.733298284597762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8c160b85819%3A0xa06816b4d60ce68e!2sUniversity%20Laboratory%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1624775123823!5m2!1sen!2sbd" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
             <p>&copy; 2025 University Laboratory School and College. All Rights Reserved.</p>
             <p>A concept by <a href="http://sazidurrahman.netlify.app" target="_blank">Sazidur Rahman</a>.</p>
        </div>
    </div>
</footer>
